{% load static %}
<div class="fullwidth-block features-section">
  <div class="container">
    <h2 class="section-title">Naše Služby</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="feature">
          <img src={% static "images/icon-1.png" %} class="feature-image" />
          <h3 class="feature-title">Vlasový botox</h3>
          <p></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature">
          <img src={% static "images/icon-2.png" %} class="feature-image" />
          <h3 class="feature-title">Dámské stříhání</h3>
          <p></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature">
          <img src={% static "images/icon-3.png" %} class="feature-image" />
          <h3 class="feature-title">Pánské stříhání</h3>
          <p></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature">
          <img src={% static "images/icon-4.png" %} class="feature-image" />
          <h3 class="feature-title">Slavnostní účes</h3>
          <p></p>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- .fullwidth-block.features-section -->
