{% load static %}
<div class="fullwidth-block features-section">
  <div class="container">
    <h2 class="section-title">our Services</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="feature">
          <img src={% static "images/icon-1.png" %} class="feature-image" />
          <h3 class="feature-title">Voluptatem</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
            dolor perferendis blanditiis voluptate maiores
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature">
          <img src={% static "images/icon-2.png" %} class="feature-image" />
          <h3 class="feature-title">COnsequatur</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse,
            minus, totam. Officia ea accusamus quis tenetur quas
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature">
          <img src={% static "images/icon-3.png" %} class="feature-image" />
          <h3 class="feature-title">Temporibus</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste,
            omnis cum, quo dolorem molestias asperiores doloremque dolorum
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature">
          <img src={% static "images/icon-4.png" %} class="feature-image" />
          <h3 class="feature-title">Perferendis</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam,
            facere numquam porro amet reiciendis maiores odio velit
          </p>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- .fullwidth-block.features-section -->
