{% load static %}
<div class="fullwidth-block information-section">
  <div class="container">
    <h2 class="section-title">Information</h2>
    <div class="row">
      <div class="col-md-4">
        <figure>
          <img src={% static "dummy/figure-1.jpg" %}>
        </figure>
      </div>
      <div class="col-md-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
          omnis minima accusamus nihil eligendi quas cumque rerum odit quo
          architecto repudiandae adipisci repellendus velit nostrum sed quisquam
          doloribus, consequatur sint. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Doloremque omnis minima accusamus nihil eligendi
          quas cumque rerum odit quo architecto repudiandae adipisci repellendus
          velit nostrum sed quisquam doloribus, consequatur sint.
        </p>
      </div>
      <div class="col-md-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
          odit, blanditiis aliquam officia soluta modi amet ex nihil nulla
          minima. Nam earum est magnam tempore corrupti quos consequatur,
          numquam voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Doloremque omnis minima accusamus nihil eligendi quas cumque
          rerum odit quo architecto repudiandae adipisci repellendus velit
          nostrum sed quisquam doloribus, consequatur sint.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- .fullwidth-block.information-section -->
