{% load static %}
<div class="fullwidth-block information-section">
  <div class="container">
    <h2 class="section-title">O salonu</h2>
    <div class="row">
      <div class="col-md-4">
        <figure>
          <img src={% static "dummy/figure-1.jpg" %}>
        </figure>
      </div>
      <div class="col-md-4">
        <p>
          Elegantní kadeřnický salon "La Rita" je moderní a stylový salon, který se nachází v centru města. Naše vášeň pro krásu a péči o vlasy se odráží v každém detailu našeho salonu. Zajímá nás nejen vytváření krásných účesů, ale také poskytování osobní péče a profesionálního přístupu ke každému zákazníkovi. Snažíme se vytvořit příjemné prostředí, ve kterém se naši zákazníci cítí uvolněně a krásně. Jsme hrdí na to, že naše služby nejsou pouze o kráse vlasů, ale také o celkovém zážitku, který si naši klienti odnášejí s sebou.
        </p>
      </div>
      <div class="col-md-4">
        <p>
          Rita Bolocan s mnohaletými zkušenostmi v oboru se specializuje na moderní střihy, barvení vlasů a úpravy účesů podle aktuálních trendů. Její odbornost a pozornost k detailům zaručují, že každý zákazník opustí salon s dokonalým a unikátním vzhledem. Její schopnost porozumět individuálním potřebám klientů a navrhovat účesy, které zdůrazní jejich osobnost a styl, činí z ní vynikající stylistku pro každého, kdo hledá perfektní úpravu vlasů.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- .fullwidth-block.information-section -->
