{% load static %}
<div class="fullwidth-block latest-news-section">
  <div class="container">
    <h2 class="section-title">Latest News</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="news">
          <div class="entry-date">
            <div class="date">29</div>
            <div class="monthyear">07.2014</div>
          </div>
          <div class="entry-detail">
            <div class="entry-summary">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
              static "images/arrow.png" %} />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="news">
        <div class="entry-date">
          <div class="date">29</div>
          <div class="monthyear">07.2014</div>
        </div>
        <div class="entry-detail">
          <div class="entry-summary">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Distinctio, corporis,
            <a href="#" class="more-icon">
              <img src={% static "images/arrow.png" %} />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .row -->
  <div class="text-center">
    <a href="#" class="button no-gradient">More news</a>
  </div>
</div>
<!-- .container -->
</div>
<!-- .fullwidth-block.latest-news-section -->
