{% load static %}
<div class="fullwidth-block team-section">
  <div class="container">
    <h2 class="section-title">Rita Bolocan</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="team">
          <figure class="team-image">
            <img src={% static "dummy/person-1.jpg" %} />
          </figure>
          <h3 class="team-name">Vlasová Stylistka</h3>
          <p>
            Vstupte do světa nekonečné elegance a proměny, kde se vaše vlasy stanou plátnem pro umění. Jsem váš osobní vlasový vizionář, vlasová stylistka, která se vášnivě oddává umění tvorby krásy. S precizním ovládáním nástrojů a neustálým sledováním nejnovějších trendů v oblasti vlasového designu vám přináším neopakovatelný zážitek. Každý střih, každá barva a každý účes jsou pečlivě promyšlené, aby vám přinesly nejen vizuální potěšení, ale také zdůraznily vaši jedinečnou osobnost. Zářte s novým sebevědomím a přijďte si užít jedinečnou cestu ke kráse ve světě vlasů.
          </p>
          <div class="social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- .fullwidth-block.team-section -->
