{% load static %}
<div class="fullwidth-block team-section">
  <div class="container">
    <h2 class="section-title">Our team</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="team">
          <figure class="team-image">
            <img src={% static "dummy/person-1.jpg" %} />
          </figure>
          <h3 class="team-name">Sarah james</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
            nihil distinctio natus doloremque id tempore repellendus atque
          </p>
          <div class="social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team">
          <figure class="team-image">
            <img src={% static "dummy/person-2.jpg" %} />
          </figure>
          <h3 class="team-name">Marta Smith</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta
            iste natus voluptatum eius? Vitae accusantium, deserunt maiores
            incidunt
          </p>
          <div class="social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team">
          <figure class="team-image">
            <img src={% static "dummy/person-3.jpg" %} />
          </figure>
          <h3 class="team-name">Nicole Johnson</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequuntur aut, laboriosam iure, quisquam reiciendis voluptas.
          </p>
          <div class="social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team">
          <figure class="team-image">
            <img src={% static "dummy/person-4.jpg" %} />
          </figure>
          <h3 class="team-name">Alicia Brown</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
            itaque veritatis amet unde aliquid, non tenetur doloremque
          </p>
          <div class="social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- .fullwidth-block.team-section -->
