{% extends 'base.html' %}
{% load static %}
{% block title %}About :: {{ block.super }}{% endblock %}
{% block content %}
  <div class="page">
    <div class="container">
      <p>
        Fusce nec congue diam. Maecenas condimentum porttitor nibh in dignissim.
        Maecenas dictum felis id suscipit facilisis. Quisque et ipsum eleifend,
        commodo tellus at, ultrices purus. Suspendisse bibendum diam et tortor
        sodales sagittis. Phasellus rutrum justo libero, in gravida sem laoreet
        in. Aenean sed elit nec felis elementum scelerisque sit amet nec leo.
        Curabitur ipsum justo, laoreet quis feugiat at, blandit vel mauris.
        Vivamus luctus placerat nibh quis tempus. Nunc molestie, mi et suscipit
        vulputate, sem est rhoncus arcu, a vestibulum nunc magna ac tortor. Sed
        malesuada quis sem in tincidunt. Sed cursus enim orci, vitae vulputate est
        condimentum pharetra. Curabitur pretium est quis venenatis pharetra.
        Vestibulum a leo at quam rutrum vestibulum. Aenean tincidunt tellus quis
        tortor feugiat, rutrum sollicitudin .
      </p>
      <div class="row">
        <div class="col-md-4">
          <h3 class="section-title">About</h3>
          <figure>
            <img src={% static "dummy/figure-1.jpg" alt="" %} />
          </figure>
          <h4>Donec pulvinar enim ante lacinia consectetur lorem dolor sit amet</h4>
          <p>
            Aenean vitae nisl dapibus, blandit urna a, consequat arcu. Fusce
            blandit felis nec mattis condimentum. Phasellus accumsan nisi est, et
            tincidunt arcu aliquam non. Morbi fringilla, velit ac pretium
            condimentum, mi libero facilisis arcu, quis dictum mauris orci vel
            quam. Vestibulum et nulla lorem. Donec a tristique arcu. In eu nisi
            nec justo.
          </p>
        </div>
        <div class="col-md-4">
          <h3 class="section-title">Passion</h3>
          <h4>Donec pulvinar enim ante lacinia consectetur lorem dolor sit amet</h4>
          <p>
            Aenean vitae nisl dapibus, blandit urna a, consequat arcu. Fusce
            blandit felis nec mattis condimentum. Phasellus accumsan nisi est, et
            tincidunt arcu aliquam non.
          </p>
          <h4>Donec pulvinar enim ante lacinia consectetur lorem dolor sit amet</h4>
          <p>
            Aenean vitae nisl dapibus, blandit urna a, consequat arcu. Fusce
            blandit felis nec mattis condimentum. Phasellus accumsan nisi est, et
            tincidunt arcu aliquam non.
          </p>
          <h4>Donec pulvinar enim ante lacinia consectetur lorem dolor sit amet</h4>
          <p>
            Aenean vitae nisl dapibus, blandit urna a, consequat arcu. Fusce
            blandit felis nec mattis condimentum. Phasellus accumsan nisi est, et
            tincidunt arcu aliquam non.
          </p>
        </div>
        <div class="col-md-4">
          <h3 class="section-title">Team</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="team small">
                <figure class="team-image">
                  <img src={% static "dummy/person-1.jpg" %} />
                </figure>
                <h3 class="team-name">Sarah james</h3>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
              </div>
              <div class="team small">
                <figure class="team-image">
                  <img src={% static "dummy/person-2.jpg" %} />
                </figure>
                <h3 class="team-name">Marta Smith</h3>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="team small">
                <figure class="team-image">
                  <img src={% static "dummy/person-3.jpg" %} />
                </figure>
                <h3 class="team-name">Nicole Johnson</h3>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
              </div>
              <div class="team small">
                <figure class="team-image">
                  <img src={% static "dummy/person-4.jpg" %} />
                </figure>
                <h3 class="team-name">Alicia Brown</h3>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
