{% extends 'base.html' %}
{% load static %}
{% block title %}About :: {{ block.super }}{% endblock %}
{% block content %}
  <div class="page">
    <div class="container">
      <p>
        Elegantní kadeřnický salon <strong>"La Rita"</strong> je moderní a stylový salon, který se nachází v centru města. Naše vášeň pro krásu a péči o vlasy se odráží v každém detailu našeho salonu. Zajímá nás nejen vytváření krásných účesů, ale také poskytování osobní péče a profesionálního přístupu ke každému zákazníkovi. Snažíme se vytvořit příjemné prostředí, ve kterém se naši zákazníci cítí uvolněně a krásně. Jsme hrdí na to, že naše služby nejsou pouze o kráse vlasů, ale také o celkovém zážitku, který si naši klienti odnášejí s sebou.
        Fusce nec c
      </p>
      <div class="row">
        <div class="col-md-4">
          <h3 class="section-title">Styl</h3>
          <figure>
            <img src={% static "dummy/figure-1.jpg" alt="" %} />
          </figure>
          <h4>Výjimečný styl od odborné vlasové stylistky</h4>
          <p>
            Vlasy nejsou pouhým vláknem, jsou plátnem pro uměleckou kreativitu. V rukou Rity se stávají symbolem výjimečnosti a osobního výrazu. Každý střih je pečlivě promyšlený, každá barva precizně vybrána. Prožijte kouzlo kadeřnického talentu, kde elegance spojená s uměním vytváří jedinečné úpravy pro každou klientku.
          </p>
        </div>
        <div class="col-md-4">
          <h3 class="section-title">Passion</h3>
          <h4>Salon plný pohodlí</h4>
          <p>
            V salonu se rozprostírá nádherný prostor plný elegance a pohodlí. Příjemné světlo a vkusný nábytek tvoří dokonalý prostředek pro relaxaci. Každý detail je pečlivě vybrán, aby vytvořil harmonický celek.
          </p>
          <h4>Stylový střed krásy</h4>
          <p>
            Barvy a dekorace vytvářejí atmosféru luxusu a moderního stylu. Kvalitní materiály a designové kousky dodávají salonu jedinečný charakter. Osvěžující vůně a hudba dokreslují dokonalý zážitek pro každého návštěvníka.
          </p>
          <h4>Exkluzivní prostor pro Váš odpočinek</h4>
          <p>
            V salonu se otevírá nabídka špičkových kosmetických a kadeřnických služeb. Zkušení profesionálové s láskou k detailům se starají o každého klienta. Kromě krásy nabízí tento salon i prostor pro osobní odpočinek a regeneraci.
          </p>
        </div>
        <div class="col-md-4">
          <h3 class="section-title">Klienti</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="team small">
                <figure class="team-image">
                  <img src={% static "dummy/person-5.jpg" %} />
                </figure>
                <h3 class="team-name">Adris Tetiu</h3>
                <p>Rita je velmi šikovna, má hodně zkušenosti s kadeřnictvím.</p>
              </div>
              <div class="team small">
                <figure class="team-image">
                  <img src={% static "dummy/person-6.jpg" %} />
                </figure>
                <h3 class="team-name">Jarmila Kocábková</h3>
                <p>K Ritě chodím už spoustu let a jsem velmi spokojená.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="team small">
                <figure class="team-image">
                  <img src={% static "dummy/person-7.jpg" %} />
                </figure>
                <h3 class="team-name">Andrea Miškovská</h3>
                <p>K Ritě pro úpravu a barvení mých vlasů jezdím již spousty let.</p>
              </div>
              <div class="team small">
                <figure class="team-image">
                  <img src={% static "dummy/person-8.jpg" %} />
                </figure>
                <h3 class="team-name">Evgeniya</h3>
                <p>Za Ritou pravidne chodim uz X let a jsem maximalne spokojena.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
