{% extends 'base.html' %}
{% load static %}
{% block title %}
  About :: {{
  block.super }}
{% endblock %}
{% block content %}
  <div class="page">
    <div class="container">
      <p>
        Omnis iste natus error sit voluptatem doloremque laudantium totam rem
        aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto
        Omnis iste natus error sit voluptatem doloremque laudantium totam rem
        aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto
        iste natus error sit voluptatem doloremque laudantium totam rem aperiam
        eaque ipsa quae ab illo inventore veritatis et quasi architecto
      </p>
      <div class="row">
        <div class="col-md-5">
          <form action="#" class="contact-form">
            <input type="text" id="name" placeholder="Name..." />
            <input type="text" id="email" placeholder="Email..." />
            <input type="text" id="website" placeholder="Website..." />
            <textarea name="" id="message" placeholder="Message..."></textarea>
            <div class="text-right">
              <button class="button large" type="submit">Send Message</button>
            </div>
          </form>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="map-container">
            <div class="map"></div>
            <div class="address-info">
              <address>
                <img src={% static "images/icon-map-small.png" %} class="icon" />
                <p>
                  <strong>Company name</strong> 563 Avenue Street, New York
                </p>
              </address>
              <div class="contact-info">
                <a href="mailto:contact@companyname.com" class="mail">
                  <img src={% static "images/icon-envelope-small.png" %} class="icon" />
                contact@companyname.com</a>
                <a href="tel:(500)942042259" class="phone">
                  <img src={% static "images/icon-phone-small.png" %} class="icon" />
                (500)942042259</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
