{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} :: {{ block.super }}{% endblock %}
{% block content %}
  <div class="page">
    <div class="container">
      <div class="text-center">
        <div class="filter-links filterable-nav">
          <select class="mobile-filter">
            <option value="*">Show all</option>
            <option value=".hair">hair</option>
            <option value=".manicure">manicure</option>
            <option value=".pedicure">pedicure</option>
            <option value=".face">face</option>
            <option value=".makeup">makeup</option>
          </select>
          <a href="#" class="current wow fadeInRight" data-filter="*">Show all</a>
          <a href="#"
             class="wow fadeInRight"
             data-wow-delay=".2s"
             data-filter=".hair">hair</a>
          <a href="#"
             class="wow fadeInRight"
             data-wow-delay=".4s"
             data-filter=".manicure">manicure</a>
          <a href="#"
             class="wow fadeInRight"
             data-wow-delay=".6s"
             data-filter=".pedicure">pedicure</a>
          <a href="#"
             class="wow fadeInRight"
             data-wow-delay=".8s"
             data-filter=".face">face</a>
          <a href="#"
             class="wow fadeInRight"
             data-wow-delay="1s"
             data-filter=".makeup">makeup</a>
        </div>
      </div>
      <div class="filterable-items">
        {% for photo in photos %}
          <div class="gallery-item filterable-item {% for tag in photo.tags.all %}{{ tag }}{{ space }}{% endfor %}">
            <a href={% static "dummy/large-gallery/gallery-1.jpg" %}>
              <figure class="featured-image">
                <img src="{{ photo.photo.url }}" alt="">
                <figcaption>
                  {% for tag in photo.tags.all %}{{ tag }}&nbsp;{% endfor %}
                  <h2 class="gallery-title">{{ photo.title }}</h2>
                  <p>{{ photo.description }}</p>
                </figcaption>
              </figure>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
