{% load static %}
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="widget contact-widget">
          <h3 class="widget-title">Contact</h3>
          <div class="contact-info">
            <address>
              <img src={% static "images/icon-map-small.png" %} class="icon" />
              <p>
                <strong>Company name</strong> 563 Avenue Street, New York
              </p>
            </address>
            <a href="mailto:contact@companyname.com" class="mail">
              <img src={% static "images/icon-envelope-small.png" %} class="icon" />
            contact@companyname.com</a>
            <a href="tel:(500)942042259" class="phone">
              <img src={% static "images/icon-phone-small.png" %} class="icon" />
            (500)942042259</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <h3 class="widget-title">Social Media</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
            et praesentium
          </p>
          <div class="social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="widget">
          <h3 class="widget-title">Newsletter</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
            et praesentium
          </p>
          <form action="#" class="subscribe-form">
            <input type="email" placeholder="Enter our email..." />
            <input type="submit" value="Sign up" />
          </form>
        </div>
      </div>
    </div>
    <div class="colophon">
      <p>Copyright 2014 Company name. Designed by Themezy. All rights reserved.</p>
    </div>
  </div>
</footer>
