{% load static %}
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="widget contact-widget">
          <h3 class="widget-title">Contact</h3>
          <div class="contact-info">
            <address>
              <img src={% static "images/icon-map-small.png" %} class="icon" />
              <p>Černinova 116/3, Žižkov, Praha</p>
            </address>
            <a href="mailto:rita.bolocan26@gmail.com" class="mail">
              <img src={% static "images/icon-envelope-small.png" %} class="icon" />
            rita.bolocan26@gmail.com</a>
            <a href="tel:(500)942042259" class="phone">
              <img src={% static "images/icon-phone-small.png" %} class="icon" />
            +420 773 948 875</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <h3 class="widget-title">Sociální Sítě</h3>
          <p>
            Sledujte nás na sociálních sítích.
            <br>
            Těšíme se na vás!
          </p>
          <div class="social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="widget">
          <h3 class="widget-title">Newsletter</h3>
          <p>Aktuální novinky a události</p>
          <form action="#" class="subscribe-form">
            <input type="email" placeholder="Zadejte svůj e-mail..." />
            <input type="submit" value="Sign up" />
          </form>
        </div>
      </div>
    </div>
    <div class="colophon">
      <p>Copyright 2023 La Rita.</p>
    </div>
  </div>
</footer>
