{% load static %}
{% load menu %}
<header class="site-header">
  <div class="container">
    <a id="branding" href="{% url 'hair:home' %}">
      <img src="{% static "hair/images/logo.png" %}" alt="Company name" class="logo" />
      <div class="logo-copy">
        <h1 class="site-title">Company Name</h1>
        <small class="site-description">Slogan goes here</small>
      </div>
    </a>
    <!-- #branding -->
    <!-- Default snippet for navigation -->
    <div class="main-navigation">
      <button type="button" class="menu-toggle">
        <i class="fa fa-bars"></i>
      </button>
      {% show_menu %}
      <!-- .menu -->
    </div>
    <!-- .main-navigation -->
    <div class="mobile-navigation"></div>
  </div>
</header>
