{% load static %}
{% url "hair:contact" as contact %}
<div class="hero hero-slider">
  <ul class="slides">
    <li data-bg-image={% static "dummy/slider-1.jpg" %}>
      <div class="container">
        <h3 class="slider-subtitle">Dámské a pánské kadeřnictví</h3>
        <h2 class="slider-title">SALON LARITA</h2>
        <p>
          Vstupte do světa elegance a krásy s Ritou Bolocan, vášnivou umělkyní střihu a péče o vlasy. Přijďte do salonu LaRita a nechte se unést atmosférou profesionální péče a osobního přístupu.
        </p>
        <a href={% url "hair:about" %} class="button large">ZJISTIT VÍCE</a>
      </div>
    </li>
    <li data-bg-image={% static "dummy/slider-2.jpg" %}>
      <div class="container">
        <h3 class="slider-subtitle">Otevírací doba</h3>
        <h2 class="slider-title">SALON LARITA</h2>
        <h3>
          <p>
            <img src={% static "images/call-icon.png" %}>
            <a href={{ contact }}>+420 773 948 875</a>
            <br>
            <br>
            Pondělí – Pátek: 08.00 – 21.00
            <br>
            Sobota: 9.00 – 17.00
            <br>
            Neděle: dle dohody
          </p>
        </h3>
        <a href={{ contact }} class="button large">ZJISTIT VÍCE</a>
      </div>
    </li>
    <li data-bg-image={% static "dummy/slider-3.jpg" %}>
      <div class="container">
        <h3 class="slider-subtitle">Adresa</h3>
        <h2 class="slider-title">SALON LARITA</h2>
        <h3>
          <p>
            <img src={% static "images/map-icon.png" %}>
            <a href={{ contact }}>Poloha</a>
            <br>
            <br>
            Černinova 116/3
            <br>
            Žižkov, Praha 3
          </p>
        </h3>
        <a href={{ contact }} class="button large">ZJISTIT VÍCE</a>
      </div>
    </li>
  </ul>
</div>
