{% load static %}
<div class="hero hero-slider">
  <ul class="slides">
    <li data-bg-image={% static "dummy/slider-1.jpg" %}>
      <div class="container">
        <h3 class="slider-subtitle">Your header goes here</h3>
        <h2 class="slider-title">Professional</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa
          molestiae necessitatibus possimus ducimus facere, error, nostrum. Quos
          sapiente ducimus maxime odio alias dolor consequuntur, maiores commodi
          exercitationem veniam. Id, ex?
        </p>
        <a href="#" class="button large">Read more</a>
      </div>
    </li>
    <li data-bg-image={% static "dummy/slider-2.jpg" %}>
      <div class="container">
        <h3 class="slider-subtitle">Your header goes here</h3>
        <h2 class="slider-title">Professional</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. In maiores
          illo eligendi obcaecati reiciendis, vel perspiciatis aliquid esse
          architecto deleniti asperiores, laboriosam nemo rerum! Ipsam numquam
          delectus minus iure sit!
        </p>
        <a href="#" class="button large">Read more</a>
      </div>
    </li>
    <li data-bg-image={% static "dummy/slider-3.jpg" %}>
      <div class="container">
        <h3 class="slider-subtitle">Your header goes here</h3>
        <h2 class="slider-title">Professional</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
          iure, alias error suscipit porro quidem minus, autem repellendus rerum
          labore corrupti! Quia quas, architecto, quis non pariatur quisquam
          nisi magnam.
        </p>
        <a href="#" class="button large">Read more</a>
      </div>
    </li>
  </ul>
</div>
